<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Say hello!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png" alt="">
    <br>
    <form class="" action="greet" method="post">
      {% for message in get_flashed_messages() %}
        <p> {{message}} </p>
      {% endfor %}
      <br>
      <input type="text" name="name_input">
      <br>
      <input type="submit" value="GREET" id='greet'>
    </form>
  </body>
</html>
